*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
}
.box-shadow{
    box-shadow: 1px 3px 18px -8px rgba(0,0,0,1);
-webkit-box-shadow: 1px 3px 18px -8px rgba(0,0,0,1);
-moz-box-shadow: 1px 3px 18px -8px rgba(0,0,0,1);
}